<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.bookx">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="pustakCart"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buyer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".titlebar" /> -->
        <!-- <activity android:name=".UserInformation" /> -->
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAll"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendRequest"
            android:screenOrientation="portrait" />
        <activity android:name=".Requests" />
        <activity android:name=".Feedback"></activity>
    </application>

</manifest>